<article>
  <div class="leftbox">
    <div class="newblogs">
        <h2 class="hometitle"><span><a href="#" onclick="CatArticleList(5)">人妻偷情</a><a href="#" onclick="CatArticleList(4)">校园淫乱</a><a href="#" onclick="CatArticleList(3)">都市色文</a></span>小说</h2>
      <ul>
        <!--<li>
          <h3 class="blogtitle"><a href="/" target="_blank" >6条网页设计配色原则,让你秒变配色高手</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/t01.jpg"  /></a></span>
            <p>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>
        <li>
          <h3 class="blogtitle"><a href="/" target="_blank" >作为一个设计师,如果遭到质疑你是否能恪守自己的原则</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/b01.png"  /></a></span>
            <p>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>
        <li>
          <h3 class="blogtitle"><a href="/" target="_blank" >Come on,行动起来吧!我们和时间来一场赛跑!</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/b06.jpg"  /></a></span>
            <p>"时间过得那么飞快,使我的小心眼儿里不只是着急,还有悲伤.有一天,我放学回家,看到太阳快落山了,就下决心说:"我要比太阳更快地回家."我狂奔回去,站在庭院前喘气的时候,看到太阳还露着半边脸,我高兴地跳跃起来,那一天我跑赢了太阳.以后我就时常做那样的游戏,有时和太阳赛跑...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>
        <li>
          <h3 class="blogtitle"><a href="/" target="_blank" >或许换一个活法,能让你走出阴霾</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/b06.jpg"  /></a></span>
            <p>前段时间回成都,去见了几年未见的老友.一起吃了饭,还带我家宝宝去玩.我问她为什么这么久都还没有打算要孩子,她说,她有一段时间患上了忧郁症,很长的时间才走出来,我听她这么说,我都很惊讶!想问问她原因,可见她欲言又止的神情,我便不再主动问她.就听着她慢慢的说.其实主要的原因还是源自于工作和家庭,工作压力大,每天的程序代码,上级不停的催,她甚至连续好几个通宵的熬夜...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>
        <li>
          <h3 class="blogtitle"><a href="/" target="_blank" >即便是坑，我也想要拉你入伙！</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/b07.jpg"  /></a></span>
            <p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门无非就是学会html和css，先前发表过一篇文章《如果要学习web前端开发，需要学习什么？》，如果你还不知道如何着手，请仔细阅读....7天的时间，入门是没有问题的，当然，如果你用心的话！...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>
        <li>
          <h3 class="blogtitle"><a href="/" target="_blank" >6条网页设计配色原则,让你秒变配色高手</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/t01.jpg"  /></a></span>
            <p>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>
        <li>
          <h3 class="blogtitle"><a href="/" target="_blank" >作为一个设计师,如果遭到质疑你是否能恪守自己的原则</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/b01.png"  /></a></span>
            <p>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>
        <li>
          <h3 class="blogtitle"><a href="/" target="_blank" >Come on,行动起来吧!我们和时间来一场赛跑!</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/b06.jpg"  /></a></span>
            <p>"时间过得那么飞快,使我的小心眼儿里不只是着急,还有悲伤.有一天,我放学回家,看到太阳快落山了,就下决心说:"我要比太阳更快地回家."我狂奔回去,站在庭院前喘气的时候,看到太阳还露着半边脸,我高兴地跳跃起来,那一天我跑赢了太阳.以后我就时常做那样的游戏,有时和太阳赛跑...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>
        <li>
          <h3 class="blogtitle"><a href="/" target="_blank" >或许换一个活法,能让你走出阴霾</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/b06.jpg"  /></a></span>
            <p>前段时间回成都,去见了几年未见的老友.一起吃了饭,还带我家宝宝去玩.我问她为什么这么久都还没有打算要孩子,她说,她有一段时间患上了忧郁症,很长的时间才走出来,我听她这么说,我都很惊讶!想问问她原因,可见她欲言又止的神情,我便不再主动问她.就听着她慢慢的说.其实主要的原因还是源自于工作和家庭,工作压力大,每天的程序代码,上级不停的催,她甚至连续好几个通宵的熬夜...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>
        <li>
          <h3 class="blogtitle"><a href="/" target="_blank" >即便是坑，我也想要拉你入伙！</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/" title=""><img src="__STATIC__/home/images/b07.jpg"  /></a></span>
            <p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门无非就是学会html和css，先前发表过一篇文章《如果要学习web前端开发，需要学习什么？》，如果你还不知道如何着手，请仔细阅读....7天的时间，入门是没有问题的，当然，如果你用心的话！...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/">杨青个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_l">浏览（<a href="/">459</a>）</span><span class="pingl f_l">评论（<a href="/">30</a>）</span><span class="f_r"><a href="/" class="more">阅读原文>></a></span></div>
        </li>-->
      </ul>
        <div style="position:relative;text-align: center;">
            <div id="page"></div>
        </div>
    </div>
    <i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 100px; color: #009688;position:fixed;top:40%;left:50%;transform:translateX(-50%) translateY(-40%);display: none;"></i>
  </div>
  <div class="rightbox">
  <div class="blank"></div>
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="paihang recommend">
      <h2 class="ab_title"><a href="/">本栏推荐</a></h2>
      <ul>
        <!--<li><b><a href="/" target="_blank">住在手机里的朋友</a></b>
          <p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门无学...</p>
        </li>
        <li><b><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></b>
          <p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门...</p>
        </li>
        <li><b><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码</a></b>
          <p>.先前发表过一篇文章《如果要学习web前端开发，需要学习什么？》</p>
        </li>
        <li><b><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></b>
          <p>对于刚毕业的学生来说，.需要学习什么？》</p>
        </li>
        <li><b><a href="/" target="_blank">你面对的是生活而不是手机</a></b>
          <p>.最简单的入门无非就是学会html和css，先前发表过一篇文章...</p>
        </li>-->
      </ul>
    </div>
    <div class="layui-carousel" id="ad1">
        <div carousel-item>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
        </div>
    </div>
    <div class="paihang ranking">
      <h2 class="ab_title"><a href="/">点击排行</a></h2>
      <ul>
        <!--<li><b><a href="/" target="_blank">住在手机里的朋友</a></b>
          <p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门无学...</p>
        </li>
        <li><b><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></b>
          <p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门...</p>
        </li>
        <li><b><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码</a></b>
          <p>.先前发表过一篇文章《如果要学习web前端开发，需要学习什么？》</p>
        </li>
        <li><b><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></b>
          <p>对于刚毕业的学生来说，.需要学习什么？》</p>
        </li>
        <li><b><a href="/" target="_blank">你面对的是生活而不是手机</a></b>
          <p>.最简单的入门无非就是学会html和css，先前发表过一篇文章...</p>
        </li>-->
      </ul>
      <!--<div class="ad"><img src="__STATIC__/home/images/ad01.jpg"></div>-->
    </div>
    <div class="layui-carousel" id="ad2">
        <div carousel-item>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
        </div>
    </div>
    <div class="weixin">
      <h2 class="ab_title">微信关注</h2>
      <ul>
        <img src="__STATIC__/home/images/wx.jpg">
      </ul>
    </div>
  </div>
</article>

<script>
var totalPages = 1;	//总页码
var totalCount = 0;	//总页码
// 获取列表
var postData = {
    page:1,
    pageSize:15,
    type:'',
    cat_id:''
}
articleList(postData);
recommendList();
rankingList();

function CatArticleList(cat_id){
    postData.page = 1
    postData.cat_id = cat_id
    articleList(postData,function(){
        layui.use(['laypage'], function(){
            var laypage = layui.laypage
            //分页
            pageInit(laypage)
        });
    });
}

//文章列表
function articleList(data,callback){
    var callback = callback || function(){}
    $('.layui-icon').show()
    data.type = '';
    $.ajax({
        url:'/home/article/index',
        type:'POST',
        data:data,
        async:false,
        success:function(res){
            if(res.code==1){
                var list = res.data.list
                totalPages = res.data.pageCount
                totalCount = res.data.count
                if(list.length>0){
                    var str = '';
                    for(var i = 0; i<list.length; i++ ){
                        str += '<li>';
                        str += '<h3 class="blogtitle"><a href="/home/article/detail?id='+list[i].id+'" target="_blank" >'+list[i].title+'</a></h3>';
                        str += '<div class="bloginfo">';
                        if(list[i].image){
                            str += '<span class="blogpic"><a href="/home/article/detail?id='+list[i].id+'" title="'+list[i].title+'"><img src="'+res.data.demoin+list[i].image+'"  /></a></span>';
                        }
                        str += '<p>'+list[i].desc.substring(0,160)+'...</p>';
                        str += '</div>';
                        str += '<div class="autor">';
                        str += '<span class="lm f_l"><a href="/">'+list[i].name+'</a></span>';
                        str += '<span class="dtime f_l">'+list[i].addtime+'</span>';
                        str += '<span class="viewnum f_l">浏览（<a href="/">'+list[i].clicks+'</a>）</span>';
                        str += '<span class="pingl f_l">评论（<a href="/">'+list[i].like_number+'</a>）</span>';
                        str += '<span class="f_r"><a href="/home/article/detail?id='+list[i].id+'" class="more">阅读原文>></a></span>';
                        str += '</div>';
                        str += '</li>';
                    }
                    $('.layui-icon').hide()
                    $('.newblogs > ul').html(str)
                }else{
                    $('.layui-icon').hide()
//                    $('#page').hide()
                    $('.newblogs > ul').html('暂无数据~~！')
                }
                callback(res)
            }else{
                $('.layui-icon').hide()
                alert(res.msg)
            }
        }
    })
}  

//推荐方法
function recommendList(callback){
    var callback = callback || function(){}
    $.ajax({
        type: 'POST',
        url: '/home/article/index',
        data:{pageSize:5,type:'recommend'},
        async:false,
        success: function(res){
            if(res.code){
                var list = res.data.list
                if(list.length>0){
                    var str = '';
                    for(var i = 0; i<list.length; i++ ){
                        str += '<li>';
                        str += '<b><a href="/home/index/detail?id='+list[i].id+'" target="_blank">'+list[i].title+'</a></b>';
                        str += '<p>'+list[i].desc.substring(0,50)+'...</p>';
                        str += '</li>';
                    }
                    $('.recommend > ul').html(str);
                }else{
                    $('.recommend > ul').html('暂无数据~~！');
                }
                callback(res)
            }else{
                alert(res.msg)
            }
        }
    });
}

//排行榜方法
function rankingList(callback){
    var callback = callback || function(){}
    $.ajax({
        type: 'POST',
        url: '/home/article/index',
        data:{pageSize:5,type:'ranking'},
        async:false,
        success: function(res){
            if(res.code){
                var list = res.data.list
                if(list.length>0){
                    var str = '';
                    for(var i = 0; i<list.length; i++ ){
                        str += '<li>';
                        str += '<b><a href="/home/index/detail?id='+list[i].id+'" target="_blank">'+list[i].title+'</a></b>';
                        str += '<p>'+list[i].desc.substring(0,50)+'...</p>';
                        str += '</li>';
                    }
                    $('.ranking > ul').html(str);
                }else{
                    $('.ranking > ul').html('暂无数据~~！');
                }
                callback(res)
            }else{
                alert(res.msg)
            }
        }
    });
}
    
layui.use(['carousel','laypage', 'layer'], function(){
  var carousel = layui.carousel
  ,laypage = layui.laypage
  ,layer = layui.layer;
  
  carousel.render({
    elem: '#ad1'
    ,width: '100%' 
    ,height:'150px'
    ,arrow: 'hover' //切换箭头默认显示状态always（始终显示） hover（悬停显示）none（始终不显示）
    ,indicator:'none'//指示器位置 inside（容器内部）outside（容器外部）none（不显示）
    ,anim: 'default' //轮播切换动画方式 default（左右切换）updown（上下切换）fade（渐隐渐显切换）
    ,interval:5000
  });
  
  carousel.render({
    elem: '#ad2'
    ,width: '100%' 
    ,height:'200px'
    ,arrow: 'hover' //切换箭头默认显示状态always（始终显示） hover（悬停显示）none（始终不显示）
    ,indicator:'none'//指示器位置 inside（容器内部）outside（容器外部）none（不显示）
    ,anim: 'default' //轮播切换动画方式 default（左右切换）updown（上下切换）fade（渐隐渐显切换）
    ,interval:5000
  });
  
  //分页
  pageInit(laypage);
});  

function pageInit(laypage)
{
    laypage.render({
      elem: 'page'
      ,count: totalCount
      ,limit:postData.pageSize
      ,groups:3
  //    ,theme: '#1E9FFF'
      ,jump: function(obj, first){
          //obj包含了当前分页的所有参数，比如：
          console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
          console.log(obj.limit); //得到每页显示的条数
          //首次不执行
          if(!first){
              //do something
              postData.page = obj.curr;
              articleList(postData);
          }
      }
    });
}
</script>