<script type="text/javascript" charset="utf-8" src="__STATIC__/home/common/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/home/common/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__STATIC__/home/common/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    .news_pl > ul > li{
        margin: 10px 10px 10px 10px;
        padding: 20px 10px 20px 10px;
        border-bottom: #ececec 1px solid;
        list-style: none;
    }
    .news_pl > ul > li > .fbtime{
        line-height: 50px;
        padding-bottom: 10px;
    }
    .news_pl > ul > li > .fbinfo{
        widht:100%;
        word-wrap: break-word;
    }
    .news_pl > ul > li > .fbinfo > p > *{
        display: inline;
    }
    .news_pl > ul > li > .fbtime > span{
        float: right;
        color: #999;
    }
    .news_pl > ul > li > .fbtime > img{
        width:50px;
        height: 50px;
        float: left;
        border-radius: 50px;
    }
    .news_pl > .plpost{
        margin: 0px 10px 0px 10px;
    }
    .news_pl > .plpost > .saying{
        line-height: 50px;
        color: #a9a6a6;
    }
    .news_pl > .plpost > .saying > span{
        float: right;
    }
    .news_pl > .plpost > .saying > span > a{
        color: red;
    }
    
    .news_pl > .plpost > .username{
        line-height: 50px;
    }
    .news_pl > .plpost > .code{
        line-height: 40px;
        padding-bottom: 10px;
    }
    .news_pl > .plpost > .code > img{
        width: 220px;
        cursor:pointer;
    }
    .news_pl > .plpost > p > input{
        height: 30px;
    }
    .news_pl > .plpost > p > span{
        padding-right: 10px;
    }
    .news_pl > .plpost > .comment_button{
        padding-top: 10px;
        cursor:pointer;
    }
</style>
<div class="blank"></div>
<article>
  <div class="leftbox">
    <div class="infos">
      <div class="newsview">
        <h2 class="intitle">您现在的位置是：<a href="/">文章列表</a>&nbsp;&gt;&nbsp;<a href="/">文章详情</a></h2>
        <h3 class="news_title">{$articleInfo.title}</h3>
        <div class="news_author"><span class="au01">{$articleInfo.author}</span><span class="au02">{$articleInfo.addtime}</span><span class="au03">共<b>{$articleInfo.clicks}</b>人围观</span></div>
        {if $articleInfo && $articleInfo.keyword}
        <div class="tags">
            {volist name="articleInfo.keyword" id="vo" key="k"}
            <a href="/">{$vo}</a> 
            {/volist}
        </div>
        {/if}
        {if $articleInfo && $articleInfo.desc}
        <div class="news_about"><strong>简介</strong>{$articleInfo.desc}</div>
        {/if}
        <div class="news_infos">
          {$articleInfo.content}
        </div>
      </div>
       
      <div class="share">
         
          <p class="diggit" onclick="like({$articleInfo.id})" style="margin-left: 35%"><a href=""> 很赞哦！ </a>(<b id="diggnum">{$articleInfo.like_number}</b>)</p>
       <!--<p class="dasbox"><a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="打赏，支持一下">打赏本站</a></p>
      <div class="hide_box" style="display: none;"></div>
      <div class="shang_box" style="display: none;"> <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭">关闭</a>
        <div class="shang_tit">
          <p>感谢您的支持，我会继续努力的!</p>
        </div>
        <div class="shang_payimg"> <img src="__STATIC__/home/images/alipayimg.jpg" alt="扫码支持" title="扫一扫"> </div>
        <div class="pay_explain">扫码打赏，你说多少就多少</div>
        <div class="shang_payselect">
          <div class="pay_item checked" data-id="alipay"> <span class="radiobox"></span> <span class="pay_logo"><img src="__STATIC__/home/images/alipay.jpg" alt="支付宝"></span> </div>
          <div class="pay_item" data-id="weipay"> <span class="radiobox"></span> <span class="pay_logo"><img src="__STATIC__/home/images/wechat.jpg" alt="微信"></span> </div>
        </div>
        <script type="text/javascript">
    $(function(){
    	$(".pay_item").click(function(){
    		$(this).addClass('checked').siblings('.pay_item').removeClass('checked');
    		var dataid=$(this).attr('data-id');
    		$(".shang_payimg img").attr("src","images/"+dataid+"img.jpg");
    		$("#shang_pay_txt").text(dataid=="alipay"?"支付宝":"微信");
    	});
    });
    function dashangToggle(){
    	$(".hide_box").fadeToggle();
    	$(".shang_box").fadeToggle();
    }
    </script> 
      </div>-->
    </div>  
    <!--share end-->
    <!--<div class="zsm"><p>打赏本站，你说多少就多少</p><img src="__STATIC__/home/images/zsm.jpg"></div>-->
    </div>
    <!--infos end--> 
    
    <div class="nextinfo">
      {if $articleInfo && $articleInfo.nextArticleInfo}
      <p>上一篇：<a href="/home/index/detail?id={$articleInfo.nextArticleInfo.id}" >{$articleInfo.nextArticleInfo.title}</a></p>
      {else}
      <p>上一篇：<a href="/" >无</a></p>
      {/if}
      {if $articleInfo && $articleInfo.prevArticleInfo}
      <p>下一篇：<a href="/home/index/detail?id={$articleInfo.prevArticleInfo.id}">{$articleInfo.prevArticleInfo.title}</a></p>
      {else}
      <p>下一篇：<a href="/">无</a></p>
      {/if}
    </div>
    <div class="otherlink">
      <h2>相关文章</h2>
      <ul>
        {if $articleInfo && $articleInfo.relatedArticleList}
        {volist name="$articleInfo.relatedArticleList" id="vo" key="k"}
        <li><a href="/home/index/detail?id={$vo.id}" title="{$vo.title}">{$vo.title}</a></li>
        {/volist}
        {else}
        暂无相关文章
        {/if}
      </ul>
    </div>
    <div class="news_pl">
      <h2>文章评论</h2>
      <div class="plpost">
          <p class="saying"><!--<span><a href="/e/pl/?classid=4&amp;id=6">共有5条评论</a></span>-->来说两句吧...</p>
          <!--<p class="username"><span>用户名</span><input type="text"></p>-->
          <p class="code"><span>验证码</span><input name="captcha" type="text"><img id="code" onclick="Code()" src="{:captcha_src()}" alt="captcha" /></p>
          <script id="editor" type="text/plain" style="width:100%;height:200px;"></script>
          <p class="comment_button" onclick="comment_save_sumbit()"><img style="float:right;" src='__STATIC__/home/images/post-btn-hover.png'></p>
      </div>
      <ul>
          {if $commentList && $commentList}
            {volist name="commentList" id="vo" key="k"}
            <li>
              <p class="fbtime"><span>{$vo.addtime}</span> <img src="__STATIC__/home/images/comment.gif" />&nbsp;&nbsp;匿名</p>
              <div class="fbinfo">{$vo.content}</div>
            </li>
            {/volist}
            {/if}
      </ul>
    </div>
  </div>
  <div class="rightbox">
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="paihang recommend">
      <h2 class="ab_title"><a href="/">本栏推荐</a></h2>
      <ul>

      </ul>
    </div>
    <div class="layui-carousel" id="ad1">
        <div carousel-item>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
        </div>
    </div>
    <div class="paihang ranking">
      <h2 class="ab_title"><a href="/">点击排行</a></h2>
      <ul>
        <li><b><a href="/" target="_blank">住在手机里的朋友</a></b>
          <p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门无学...</p>
        </li>
        <li><b><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></b>
          <p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门...</p>
        </li>
        <li><b><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码</a></b>
          <p>.先前发表过一篇文章《如果要学习web前端开发，需要学习什么？》</p>
        </li>
        <li><b><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></b>
          <p>对于刚毕业的学生来说，.需要学习什么？》</p>
        </li>
        <li><b><a href="/" target="_blank">你面对的是生活而不是手机</a></b>
          <p>.最简单的入门无非就是学会html和css，先前发表过一篇文章...</p>
        </li>
      </ul>
      <!--<div class="ad"><img src="__STATIC__/home/images/ad01.jpg"></div>-->
    </div>
    <div class="layui-carousel" id="ad2">
        <div carousel-item>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
        </div>
    </div>
    <div class="weixin">
      <h2 class="ab_title">微信</h2>
      <ul>
        <img src="__STATIC__/home/images/wx.jpg">
      </ul>
    </div>
  </div>
</article>
<script>
var postData = {
        page:1,
        pageSize:6,
    }
recommendList(postData);
rankingList(postData);
//推荐方法
function recommendList(data,callback){
    var callback = callback || function(){}
    data.pageSize = 6;
    data.type = 'recommend';
    $.ajax({
        type: 'POST',
        url: '/home/index/index',
        data:data,
        async:false,
        success: function(res){
            if(res.code){
                var list = res.data.list
                if(list.length>0){
                    var str = '';
                    for(var i = 0; i<list.length; i++ ){
                        str += '<li>';
                        str += '<b><a href="/home/index/detail?id='+list[i].id+'" target="_blank">'+list[i].title+'</a></b>';
                        str += '<p>'+list[i].desc.substring(0,50)+'...</p>';
                        str += '</li>';
                    }
                    $('.recommend > ul').html(str);
                }else{
                    $('.recommend > ul').html('暂无数据~~！');
                }
                callback(res)
            }else{
                alert(res.msg)
            }
        }
    });
}

//排行榜方法
function rankingList(data,callback){
    var callback = callback || function(){}
    data.pageSize = 6;
    data.type = 'ranking';
    $.ajax({
        type: 'POST',
        url: '/home/index/index',
        data:data,
        async:false,
        success: function(res){
            if(res.code){
                var list = res.data.list
                if(list.length>0){
                    var str = '';
                    for(var i = 0; i<list.length; i++ ){
                        str += '<li>';
                        str += '<b><a href="/home/index/detail?id='+list[i].id+'" target="_blank">'+list[i].title+'</a></b>';
                        str += '<p>'+list[i].desc.substring(0,50)+'...</p>';
                        str += '</li>';
                    }
                    $('.ranking > ul').html(str);
                }else{
                    $('.ranking > ul').html('暂无数据~~！');
                }
                callback(res)
            }else{
                alert(res.msg)
            }
        }
    });
}

function like(id){
    $.ajax({
        type: 'POST',
        url: '/home/index/like',
        data:{id:id},
        async:false,
        success: function(res){
            if(res.code){
                alert(res.msg);
            }else{
                alert(res.msg)
            }
        }
    });
}
    
layui.use(['carousel','laypage', 'layer'], function(){
  var carousel = layui.carousel
  
  carousel.render({
    elem: '#ad1'
    ,width: '100%' 
    ,height:'150px'
    ,arrow: 'hover' //切换箭头默认显示状态always（始终显示） hover（悬停显示）none（始终不显示）
    ,indicator:'none'//指示器位置 inside（容器内部）outside（容器外部）none（不显示）
    ,anim: 'default' //轮播切换动画方式 default（左右切换）updown（上下切换）fade（渐隐渐显切换）
    ,interval:5000
  });
  
  carousel.render({
    elem: '#ad2'
    ,width: '100%' 
    ,height:'200px'
    ,arrow: 'hover' //切换箭头默认显示状态always（始终显示） hover（悬停显示）none（始终不显示）
    ,indicator:'none'//指示器位置 inside（容器内部）outside（容器外部）none（不显示）
    ,anim: 'default' //轮播切换动画方式 default（左右切换）updown（上下切换）fade（渐隐渐显切换）
    ,interval:5000
  });
}); 

window.UEDITOR_CONFIG.zIndex = 88;
//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
var ue = UE.getEditor('editor',{toolbars:[  
        ['undo', 'redo', '|' ,
            'bold', 'italic', 'underline', '|'
            ,'fontsize','forecolor', '|', 'emotion']
        ]});

//刷新验证码
function Code() {
    document.getElementById("code").src="{:captcha_src()}?"+Math.random();
} 

//提交评论
function comment_save_sumbit(){
    var captcha = $("input[name=captcha]").val();
    var content = UE.getEditor('editor').getContent();
    var id = '{$articleInfo.id}';
    if(captcha == ''){
        alert('请填写验证码！');return;
    }
    if(content == ''){
        alert('评论内容不能为空！');return;
    }
    $.ajax({
        type: 'POST',
        url: '/home/article/comment',
        data:{article_id:id,captcha:captcha,content:content},
        async:false,
        success: function(res){
            if(res.code){
                alert(res.msg);
                window.location.reload()
            }else{
                alert(res.msg)
                Code()
            }
        }
    });
}
</script>
