<article>
  <div class="pics">
    <ul>
      <li><i><a href="/"><img src="__STATIC__/home/images/t01.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
      <li><i><a href="/"><img src="__STATIC__/home/images/t04.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
      <li><i><a href="/"><img src="__STATIC__/home/images/t03.jpg"></a></i><span>这组图片中的静物等非常的日系</span></li>
    </ul>
  </div>
  <div class="blank"></div>
  <div class="leftbox">
    <div class="tuijian">
      <h2 class="hometitle"><!--<span><a href="/">模板分享</a><a href="/">学无止境</a><a href="/">慢生活</a><a href="#" onclick="recommendList(1)">热门标签</a></span>-->特别推荐</h2>
      <ul>

      </ul>
    </div>
    <div class="blank"></div>
    <div class="layui-carousel" id="ad1">
        <div carousel-item>
            <div><a href="/"><img src="__STATIC__/home/images/ad_center.jpg"></a></div>
            <div><a href="/"><img src="__STATIC__/home/images/ad_center.jpg"></a></div>
        </div>
    </div>
      <!-- 条目中可以是任意内容，如：<img src=""> -->
    <div class="newblogs">
      <h2 class="hometitle">最新文章</h2>
      <ul id="list">

      </ul>
      <div style="position:relative;text-align: center;">
            <div id="page"></div>
      </div>
      <i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 100px; color: #009688;position:fixed;top:40%;left:50%;transform:translateX(-50%) translateY(-40%);display: none;"></i>
    </div>
    <div class="layui-carousel" id="ad4">
        <div carousel-item>
            <div><a href="/"><img src="__STATIC__/home/images/ad_center.jpg"></a></div>
            <div><a href="/"><img src="__STATIC__/home/images/ad_center.jpg"></a></div>
        </div>
    </div>
  </div>
  <div class="rightbox">
    <div class="aboutme">
      <h2 class="ab_title">关于我</h2>
      <div class="avatar"><img src="__STATIC__/home/images/b04.gif" /></div>
      <div class="ab_con">
        <p>网名：DanceSmile | 即步非烟</p>
        <p>职业：PHP高级工程师、架构师 </p>
        <p>籍贯：广东省—广州市</p>
        <p>邮箱：735207034@qq.com</p>
      </div>
    </div>
    <div class="blank"></div>
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="blank"></div>
    <div class="layui-carousel" id="ad2">
        <div carousel-item>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
        </div>
    </div>
    <div class="paihang">
      <h2 class="ab_title"><a href="/">点击排行</a></h2>
      <ul>

      </ul>
    </div>
    <div class="layui-carousel" id="ad3">
        <div carousel-item>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
            <div><a href="/"><img src="__STATIC__/home/images/ad_left.jpg"></a></div>
        </div>
    </div>
    <div class="links">
      <h2 class="ab_title">友情链接</h2>
      <ul>
        <li><a href="/">林晓聪博客</a></li>
        <li><a href="/">友链招募</a></li>
        <li><a href="/">友链招募</a></li>
      </ul>
    </div>
    
    <div class="weixin">
      <h2 class="ab_title">微信</h2>
      <ul>
        <img src="__STATIC__/home/images/wx.jpg">
      </ul>
    </div>
  </div>
</article>

<script>
    var totalPages = 1;	//总页码
    var totalCount = 0;	//总页码
    // 获取列表
    var postData = {
        page:1,
        pageSize:6,
    }
    recommendList(postData);
    newList(postData);
    rankingList(postData);
    //推荐方法
    function recommendList(data,callback){
        var callback = callback || function(){}
        data.pageSize = 6;
        data.type = 'recommend';
        $.ajax({
            type: 'POST',
            url: '/home/index/index',
            data:data,
            async:false,
            success: function(res){
                if(res.code){
                    var list = res.data.list
                    if(list.length>0){
                        var str = '';
                        for(var i = 0; i<list.length; i++ ){
                            str += '<li>';
                            str += '<div class="tpic"><img src="'+res.data.demoin+list[i].image+'?x-oss-process=image/resize,m_fixed,h_100,w_207"></div>';
                            str += '<b>'+list[i].title+'</b><span>'+list[i].desc.substring(0,40)+'...</span><a href="/home/index/detail?id='+list[i].id+'" class="readmore">阅读原文</a></li>';
                            str += '</li>';
                        }
                        $('.leftbox > .tuijian > ul').html(str);
                    }else{
                        $('.tuijian > ul').html('暂无数据~~！');
                    }
                    callback(res)
                }else{
                    alert(res.msg)
                }
            }
        });
    }
    
    //最新文章
    function newList(data,callback){
        var callback = callback || function(){}
        $('.layui-icon').show()
        data.type = '';
        $.ajax({
            url:'/home/index/index',
            type:'POST',
            data:data,
            async:false,
            success:function(res){
                if(res.code==1){
                    var list = res.data.list
                    totalPages = res.data.pageCount
                    totalCount = res.data.count
                    if(list.length>0){
                        var str = '';
                        for(var i = 0; i<list.length; i++ ){
                            str += '<li>';
                            str += '<h3 class="blogtitle"><a href="/home/index/detail?id='+list[i].id+'" target="_blank" >'+list[i].title+'</a></h3>';
                            str += '<div class="bloginfo">';
                            if(list[i].image){
                                str += '<span class="blogpic"><a href="/home/index/detail?id='+list[i].id+'" title="'+list[i].title+'"><img src="'+res.data.demoin+list[i].image+'?x-oss-process=image/resize,m_fixed,h_100,w_225"  /></a></span>';
                            }
                            str += '<p>'+list[i].desc.substring(0,160)+'...</p>';
                            str += '</div>';
                            str += '<div class="autor"><span class="lm f_l"><a href="/">'+list[i].name+'</a></span>';
                            str += '<span class="dtime f_l">'+list[i].addtime+'</span>';
                            str += '<span class="viewnum f_l">浏览（<a href="/">'+list[i].clicks+'</a>）</span>';
                            str += '<span class="pingl f_l">喜欢（<a href="/">'+list[i].like_number+'</a>）</span><span class="f_r"><a href="/home/index/detail?id='+list[i].id+'" class="more">阅读原文</a></span>';
                            str += '</div>';
                            str += '</li>';
                        }
                        $('.layui-icon').hide()
                        $('.newblogs > ul').html(str)
                    }else{
                        $('.layui-icon').hide()
                        $('#page').hide()
                        $('.newblogs > ul').html('暂无数据~~！')
                    }
                    callback(res)
                }else{
                    $('.layui-icon').hide()
                    alert(res.msg)
                }
            }
        })
    }
    
    //排行榜
    function rankingList(data,callback){
        var callback = callback || function(){}
        data.pageSize = 6;
        data.type = 'ranking';
        $.ajax({
            url:'/home/index/index',
            type:'POST',
            data:data,
            async:false,
            success:function(res){
                if(res.code==1){
                    var list = res.data.list
                    if(list.length>0){
                        var str = '';
                        for(var i = 0; i<list.length; i++ ){
                            str += '<li>';
                            str += '<b><a href="/home/index/detail?id='+list[i].id+'" target="_blank">'+list[i].title+'...</a></b>';
                            str += '<p><i><img src="'+res.data.demoin+list[i].image+'?x-oss-process=image/resize,m_fixed,h_90,w_100"></i>'+list[i].desc.substring(0,45)+'...</p>';
                            str += '</li>';
                        }
                        $('.paihang > ul').html(str)
                    }else{
                        $('.paihang > ul').html('暂无数据~~！')
                    }
                    callback(res)
                }else{
                    alert(res.msg)
                }
            }
        })
    }
    
layui.use(['carousel','laypage', 'layer'], function(){
  var carousel = layui.carousel
  ,laypage = layui.laypage
  ,layer = layui.layer;
  
  //左则上面
  carousel.render({
    elem: '#ad1'
    ,width: '100%' 
    ,height:'150px'
    ,arrow: 'hover' //切换箭头默认显示状态always（始终显示） hover（悬停显示）none（始终不显示）
    ,indicator:'none'//指示器位置 inside（容器内部）outside（容器外部）none（不显示）
    ,anim: 'default' //轮播切换动画方式 default（左右切换）updown（上下切换）fade（渐隐渐显切换）
    ,interval:5000
  });
  
  //右则上面
  carousel.render({
    elem: '#ad2'
    ,width: '100%' 
    ,height:'200px'
    ,arrow: 'none' //切换箭头默认显示状态always（始终显示） hover（悬停显示）none（始终不显示）
    ,indicator:'inside'//指示器位置 inside（容器内部）outside（容器外部）none（不显示）
    ,anim: 'fade' //轮播切换动画方式 default（左右切换）updown（上下切换）fade（渐隐渐显切换）
    ,interval:5000
  });
  
  //右则下面
  carousel.render({
    elem: '#ad3'
    ,width: '100%' 
    ,height:'200px'
    ,arrow: 'hover' //切换箭头默认显示状态always（始终显示） hover（悬停显示）none（始终不显示）
    ,indicator:'none'//指示器位置 inside（容器内部）outside（容器外部）none（不显示）
    ,anim: 'default' //轮播切换动画方式 default（左右切换）updown（上下切换）fade（渐隐渐显切换）
    ,interval:5000
  });
  
  //左则下面
  carousel.render({
    elem: '#ad4'
    ,width: '100%' 
    ,height:'155px'
    ,arrow: 'none' //切换箭头默认显示状态always（始终显示） hover（悬停显示）none（始终不显示）
    ,indicator:'inside'//指示器位置 inside（容器内部）outside（容器外部）none（不显示）
    ,anim: 'fade' //轮播切换动画方式 default（左右切换）updown（上下切换）fade（渐隐渐显切换）
    ,interval:5000
  });
  
  //分页
  laypage.render({
    elem: 'page'
    ,count: totalCount
    ,limit:postData.pageSize
    ,groups:3
//    ,theme: '#1E9FFF'
    ,jump: function(obj, first){
        //obj包含了当前分页的所有参数，比如：
        console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
        console.log(obj.limit); //得到每页显示的条数
        //首次不执行
        if(!first){
            //do something
            postData.page = obj.curr;
            newList(postData);
        }
    }
  });
});

</script>

